In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
!pip install geopandas

Requirement already satisfied: geopandas in /usr/local/lib/python3.6/dist-packages (0.8.1)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.1.2)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (2.6.1.post1)
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: fiona in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.8.17)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.18.5)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (20.2.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (0.5.0)
Requirement already satisfied: munch in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (2.5.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.15.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.1.1)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.1.2)

In [2]:
!pip install pickle5
import pickle5 as pickle

Requirement already satisfied: pickle5 in /usr/local/lib/python3.6/dist-packages (0.0.11)

In [3]:
import pandas as pd
import numpy as np

import seaborn as sns
import warnings
warnings.filterwarnings(action='ignore')
import matplotlib.pyplot as plt
import geopandas as gpd

In [4]:
with open('/content/drive/My Drive/금천구_초등학교881m_학원정보_new.pkl', 'rb') as f:  
  aca = pickle.load(f)

In [5]:
with open('/content/drive/My Drive/금천구_초등학교881m_인구.pkl', 'rb') as f:  
  pop = pickle.load(f)

In [9]:
with open('/content/drive/My Drive/금천구_초등학교881m_돌봄시설정보.pkl', 'rb') as f:  
  dol = pickle.load(f)
 
# /content/drive/My Drive/금천구_초등학교881m_돌봄시설정보.pkl

In [18]:
acacnt = 0
for i in range(len(aca['학원개수'])):
    if aca['학원개수'][i] != 0:
        acacnt += 1
acacnt

194

In [27]:
aca.info()
aca.fillna(0,inplace=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194 entries, 0 to 193
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gid     194 non-null    object
 1   행정동코드   194 non-null    int64
 2   행정동     194 non-null    object
 3   위도      194 non-null    float64
 4   경도      194 non-null    float64
 5   학원명     191 non-null    object
 6   학원개수    191 non-null    float64
dtypes: float64(3), int64(1), object(3)
memory usage: 17.1+ KB

In [33]:
tf_aca = [(float(aca['학원개수'][i] + 1)) for i in range(len(aca))]
idf_aca = (len(aca.gid.unique()) / (acacnt+1))
tfidf_aca = [x*idf_aca for x in tf_aca]
aca['학원tfidf'] = tfidf_aca

In [34]:
aca.tail(20)

            gid       행정동코드  ...  학원개수    학원tfidf
174  다사48ab39ab  1154568000  ...  21.0  21.887179
175  다사48ab39ba  1154571000  ...  23.0  23.876923
176  다사48ab39bb  1154571000  ...  25.0  25.866667
177  다사48ba38aa  1154571000  ...   0.0   0.994872
178  다사48ba38ab  1154571000  ...   6.0   6.964103
179  다사48ba38ba  1154568000  ...  16.0  16.912821
180  다사48ba38bb  1154568000  ...  18.0  18.902564
181  다사48ba39aa  1154568000  ...  20.0  20.892308
182  다사48ba39ab  1154568000  ...  20.0  20.892308
183  다사48ba39ba  1154568000  ...  21.0  21.887179
184  다사48ba39bb  1154568000  ...  19.0  19.897436
185  다사48bb38ba  1154568000  ...  11.0  11.938462
186  다사48bb38bb  1154568000  ...  15.0  15.917949
187  다사48bb39aa  1154568000  ...  16.0  16.912821
188  다사48bb39ab  1154568000  ...  15.0  15.917949
189  다사48bb39ba  1154568000  ...  14.0  14.923077
190  다사48bb39bb  1154568000  ...   9.0   9.948718
191  다사49aa38bb  1154568000  ...   4.0   4.974359
192  다사49aa39aa  1154568000  ...   5.0   5.969231
193  다사49aa39ab  1154568000  ...   4.0   4.974359

[20 rows x 8 columns]

In [11]:
dol.columns

Index(['gid', '행정동코드', '행정동', '위도', '경도', '키움센터', '키움센터_개수', '키움센터_상시돌봄정원',
       '키움센터_일시돌봄정원', '초등돌봄교실', '초등돌봄교실_개수', '초등돌봄교실_교실개수', '초등돌봄교실_이용인원',
       '지역아동센터', '지역아동센터_개수', '지역아동센터_정원', '방과후아카데미_개수', '방과후아카데미_정원'],
      dtype='object')

In [15]:
pop

            gid       행정동코드  ...                    geometry   초등생인구비율
0    다사44bb42ba  1154551000  ...  POINT (126.87650 37.48122)  0.000125
1    다사44bb42bb  1154551000  ...  POINT (126.87648 37.48347)  0.000125
2    다사45aa42ab  1154551000  ...  POINT (126.87935 37.47898)  0.000125
3    다사45aa42ba  1154551000  ...  POINT (126.87933 37.48123)  0.000125
4    다사45aa42bb  1154551000  ...  POINT (126.87931 37.48349)  0.000125
..          ...         ...  ...                         ...       ...
189  다사48bb39ba  1154568000  ...  POINT (126.92195 37.45441)  0.000125
190  다사48bb39bb  1154568000  ...  POINT (126.92193 37.45666)  0.000125
191  다사49aa38bb  1154568000  ...  POINT (126.92483 37.44766)  0.000125
192  다사49aa39aa  1154568000  ...  POINT (126.92481 37.44991)  0.000125
193  다사49aa39ab  1154568000  ...  POINT (126.92480 37.45217)  0.000125

[194 rows x 14 columns]

In [13]:
popcnt = 0
for i in range(len(pop['초등학생_인구'])):
    if pop['초등학생_인구'][i] != 0:
        popcnt += pop['초등학생_인구'][i]
popcnt

8017.0

In [49]:
dol.fillna(0,inplace=True)
dol['총시설수'] = dol['키움센터_개수']+dol['초등돌봄교실_개수']+dol['지역아동센터_개수']+dol['방과후아카데미_개수']
dol['총정원'] = dol['키움센터_상시돌봄정원']+dol['키움센터_일시돌봄정원']+dol['초등돌봄교실_이용인원']+dol['지역아동센터_정원']+dol['방과후아카데미_정원']
dol['돌봄교실이용비율'] = [x/sum(dol['총정원']) for x in dol['총정원']]

In [58]:
# for x in pop['초등학생_인구']:
#   lst = []
#   lst.append(x+1/popcnt)
# lst
pop['초등생인구비율'] = (pop['초등학생_인구']+1) / popcnt
# [(x+1/popcnt) for x in pop['초등학생_인구']]

In [36]:
cnt = 0
for i in range(len(dol['총시설수'])):
    if dol['총시설수'][i] != 0:
        cnt += 1
cnt

194

In [66]:
#  tf_center = [float(all['총학원수'][i]+1) / float(all['총학원수'].sum()) for i in range(len(all))]
#  idf = float(len(all.행정동코드.unique()) / (423))
#  tfidf = [x*idf for x in tf]

In [38]:
tf_center = [(float(dol['총시설수'][i] + 1)) for i in range(len(dol))]
idf_center = (len(dol.gid.unique()) / (cnt+1))
tfidf_center = [x*idf_center for x in tf_center]
dol['센터tfidf']= tfidf_center

# tf_aca = [(float(aca['학원개수'][i] + 1)) for i in range(len(aca))]
# idf_aca = (len(aca.gid.unique()) / (acacnt+1))
# tfidf_aca = [x*idf_aca for x in tf_aca]
# tfidf_aca

In [39]:
dol

            gid       행정동코드    행정동         위도  ...  총시설수    총정원  돌봄교실이용비율   센터tfidf
0    다사44bb42ba  1154551000    가산동  37.481217  ...   1.0   77.0  0.000882  1.989744
1    다사44bb42bb  1154551000    가산동  37.483470  ...   1.0   77.0  0.000882  1.989744
2    다사45aa42ab  1154551000    가산동  37.478979  ...   3.0  127.0  0.001455  3.979487
3    다사45aa42ba  1154551000    가산동  37.481232  ...   4.0  146.0  0.001672  4.974359
4    다사45aa42bb  1154551000    가산동  37.483485  ...   7.0  238.0  0.002726  7.958974
..          ...         ...    ...        ...  ...   ...    ...       ...       ...
189  다사48bb39ba  1154568000  시흥제2동  37.454407  ...   4.0  138.0  0.001581  4.974359
190  다사48bb39bb  1154568000  시흥제2동  37.456661  ...   5.0  223.0  0.002554  5.969231
191  다사49aa38bb  1154568000  시흥제2동  37.447661  ...   2.0   55.0  0.000630  2.984615
192  다사49aa39aa  1154568000  시흥제2동  37.449914  ...   2.0   55.0  0.000630  2.984615
193  다사49aa39ab  1154568000  시흥제2동  37.452168  ...   2.0   72.0  0.000825  2.984615

[194 rows x 22 columns]

In [59]:
pop.tail(20)

            gid       행정동코드  ...   초등생인구비율    초등생인구비율_
174  다사48ab39ab  1154568000  ...  0.003742   29.000125
175  다사48ab39ba  1154571000  ...  0.000125    0.000125
176  다사48ab39bb  1154571000  ...  0.000125    0.000125
177  다사48ba38aa  1154571000  ...  0.000125    0.000125
178  다사48ba38ab  1154571000  ...  0.000125    0.000125
179  다사48ba38ba  1154568000  ...  0.000125    0.000125
180  다사48ba38bb  1154568000  ...  0.043657  349.000125
181  다사48ba39aa  1154568000  ...  0.032930  263.000125
182  다사48ba39ab  1154568000  ...  0.013097  104.000125
183  다사48ba39ba  1154568000  ...  0.003617   28.000125
184  다사48ba39bb  1154568000  ...  0.000125    0.000125
185  다사48bb38ba  1154568000  ...  0.000125    0.000125
186  다사48bb38bb  1154568000  ...  0.000125    0.000125
187  다사48bb39aa  1154568000  ...  0.006736   53.000125
188  다사48bb39ab  1154568000  ...  0.000125    0.000125
189  다사48bb39ba  1154568000  ...  0.000125    0.000125
190  다사48bb39bb  1154568000  ...  0.000125    0.000125
191  다사49aa38bb  1154568000  ...  0.000125    0.000125
192  다사49aa39aa  1154568000  ...  0.000125    0.000125
193  다사49aa39ab  1154568000  ...  0.000125    0.000125

[20 rows x 15 columns]

In [62]:
df1 = pd.merge(aca,pop,on=['gid'])
df2 = pd.merge(df1,dol,on=['gid'])
df2.columns

Index(['gid', '행정동코드_x', '행정동_x', '위도_x', '경도_x', '학원명', '학원개수', '학원tfidf',
       '행정동코드_y', '시군구명', '행정동_y', '학교명', '학교개수', '초등학생_인구', '30대_인구',
       '40대_인구', '전체_인구', '경도_y', '위도_y', 'geometry', '초등생인구비율', '초등생인구비율_',
       '행정동코드', '행정동', '위도', '경도', '키움센터', '키움센터_개수', '키움센터_상시돌봄정원',
       '키움센터_일시돌봄정원', '초등돌봄교실', '초등돌봄교실_개수', '초등돌봄교실_교실개수', '초등돌봄교실_이용인원',
       '지역아동센터', '지역아동센터_개수', '지역아동센터_정원', '방과후아카데미_개수', '방과후아카데미_정원', '총시설수',
       '총정원', '돌봄교실이용비율', '센터tfidf'],
      dtype='object')

In [65]:
df2 = df2[['gid', '행정동코드_x', '행정동_x', '위도_x', '경도_x', '학원명', '학원개수', '학원tfidf',
      '학교명', '학교개수', '초등학생_인구', '30대_인구',
       '40대_인구', '전체_인구', '초등생인구비율','키움센터', '키움센터_개수', '키움센터_상시돌봄정원',
       '키움센터_일시돌봄정원', '초등돌봄교실', '초등돌봄교실_개수', '초등돌봄교실_교실개수', '초등돌봄교실_이용인원',
       '지역아동센터', '지역아동센터_개수', '지역아동센터_정원', '방과후아카데미_개수', '방과후아카데미_정원', '총시설수',
       '총정원', '돌봄교실이용비율', '센터tfidf']]

In [66]:
df2.columns = ['gid', '행정동코드', '행정동', '위도', '경도', '학원명', '학원개수', '학원tfidf',
      '학교명', '학교개수', '초등학생_인구', '30대_인구',
       '40대_인구', '전체_인구', '초등생인구비율','키움센터', '키움센터_개수', '키움센터_상시돌봄정원',
       '키움센터_일시돌봄정원', '초등돌봄교실', '초등돌봄교실_개수', '초등돌봄교실_교실개수', '초등돌봄교실_이용인원',
       '지역아동센터', '지역아동센터_개수', '지역아동센터_정원', '방과후아카데미_개수', '방과후아카데미_정원', '총시설수',
       '총정원', '돌봄교실이용비율', '센터tfidf']

In [69]:
df2['수요지수'] = df2['센터tfidf'] * df2['초등생인구비율']* df2['돌봄교실이용비율'] / df2['학원tfidf']
df2

            gid       행정동코드    행정동  ...  돌봄교실이용비율   센터tfidf          수요지수
0    다사44bb42ba  1154551000    가산동  ...  0.000882  1.989744  7.334380e-08
1    다사44bb42bb  1154551000    가산동  ...  0.000882  1.989744  5.500785e-08
2    다사45aa42ab  1154551000    가산동  ...  0.001455  3.979487  2.419393e-07
3    다사45aa42ba  1154551000    가산동  ...  0.001672  4.974359  3.476686e-07
4    다사45aa42bb  1154551000    가산동  ...  0.002726  7.958974  3.886269e-07
..          ...         ...    ...  ...       ...       ...           ...
189  다사48bb39ba  1154568000  시흥제2동  ...  0.001581  4.974359  6.572366e-08
190  다사48bb39bb  1154568000  시흥제2동  ...  0.002554  5.969231  1.911701e-07
191  다사49aa38bb  1154568000  시흥제2동  ...  0.000630  2.984615  4.714958e-08
192  다사49aa39aa  1154568000  시흥제2동  ...  0.000630  2.984615  3.929132e-08
193  다사49aa39ab  1154568000  시흥제2동  ...  0.000825  2.984615  6.172309e-08

[194 rows x 33 columns]

In [70]:
pt = np.percentile(df2[['수요지수']],[i*10 for i in range(1,10)]).tolist()
pt

[1.7645154721239348e-07,
 3.639090602031518e-07,
 5.639008574818843e-07,
 3.9859019848870805e-06,
 1.0654327493873163e-05,
 1.9461527948226937e-05,
 2.6277927530729688e-05,
 3.419814668787121e-05,
 5.109246305577995e-05]

In [71]:
df2['percentile'] = 0
df2.loc[(df2['수요지수'] <= pt[0]),'percentile'] = '1'
df2.loc[(df2['수요지수'] > pt[0]) & (df2['수요지수'] <= pt[1]),'percentile'] = '2'
df2.loc[(df2['수요지수'] > pt[1]) & (df2['수요지수'] <= pt[2]),'percentile'] = '3'
df2.loc[(df2['수요지수'] > pt[2]) & (df2['수요지수'] <= pt[3]),'percentile'] = '4'
df2.loc[(df2['수요지수'] > pt[3]) & (df2['수요지수'] <= pt[4]),'percentile'] = '5'
df2.loc[(df2['수요지수'] > pt[4]) & (df2['수요지수'] <= pt[5]),'percentile'] = '6'
df2.loc[(df2['수요지수'] > pt[5]) & (df2['수요지수'] <= pt[6]),'percentile'] = '7'
df2.loc[(df2['수요지수'] > pt[6]) & (df2['수요지수'] <= pt[7]),'percentile'] = '8'
df2.loc[(df2['수요지수'] > pt[7]) & (df2['수요지수'] <= pt[8]),'percentile'] = '9'
df2.loc[(df2['수요지수'] > pt[8]),'percentile'] = '10'

In [73]:
df2.to_pickle('금천구_수요지수.pkl')