In [3]:
!pip install dbfread
!pip install haversine
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from dbfread import DBF
from haversine import haversine
from tqdm.notebook import tqdm
%matplotlib inline
import platform
import pickle
import re
platform.system()
if platform.system() == 'Darwin': # Mac 환경 폰트 설정
    plt.rc('font', family='AppleGothic')
elif platform.system() == 'Windows': # Windows 환경 폰트 설정
    plt.rc('font', family='Malgun Gothic')
plt.rc('axes', unicode_minus=False) # 마이너스 폰트 설정
%config InlineBackend.figure_format = 'retina'

Requirement already satisfied: dbfread in c:\users\user\anaconda3\lib\site-packages (2.0.7)
Requirement already satisfied: haversine in c:\users\user\anaconda3\lib\site-packages (2.2.0)

In [4]:
def pklsave(df, name):
    with open('{}.pkl'.format(name), 'wb') as f:
        pickle.dump(df, f)

In [5]:
def pklopen(route):
    with open('{}'.format(route), 'rb') as f:
        df = pickle.load(f)
    return df

In [17]:
k = pd.read_csv('./data/서울시 장애인 현황 (등급별동별) 통계.txt', sep='\t')
k

,기간,자치구,동,합계,합계.1,합계.2,장애정도별,장애정도별.1,장애정도별.2,장애정도별.3,장애정도별.4,장애정도별.5
0,기간,자치구,동,합계,합계,합계,심한 장애,심한 장애,심한 장애,심하지 않은 장애,심하지 않은 장애,심하지 않은 장애
1,기간,자치구,동,계,남자,여자,계,남자,여자,계,남자,여자
2,2019,합계,합계,"394,843","228,821","166,022","149,906","89,940","59,966","244,937","138,881","106,056"
3,2019,종로구,소계,"6,068","3,515","2,553","2,255","1,360",895,"3,813","2,155","1,658"
4,2019,종로구,사직동,295,169,126,140,80,60,155,89,66
...,...,...,...,...,...,...,...,...,...,...,...,...
450,2019,강동구,둔촌1동,3,2,1,1,-,1,2,2,-
451,2019,강동구,둔촌2동,960,568,392,351,217,134,609,351,258
452,2019,강동구,암사1동,"1,688","1,015",673,642,408,234,"1,046",607,439
453,2019,강동구,천호2동,"1,765","1,059",706,629,389,240,"1,136",670,466
454,2019,강동구,길동,"2,002","1,226",776,723,464,259,"1,279",762,517

In [20]:
k_sum = k.iloc[:][:3]
k_sum

,기간,자치구,동,합계,합계.1,합계.2,장애정도별,장애정도별.1,장애정도별.2,장애정도별.3,장애정도별.4,장애정도별.5
0,기간,자치구,동,합계,합계,합계,심한 장애,심한 장애,심한 장애,심하지 않은 장애,심하지 않은 장애,심하지 않은 장애
1,기간,자치구,동,계,남자,여자,계,남자,여자,계,남자,여자
2,2019,합계,합계,"394,843","228,821","166,022","149,906","89,940","59,966","244,937","138,881","106,056"

In [26]:
df = k.rename(columns=k.iloc[1])
df = df.drop(df.index[1])
df

,기간,자치구,동,계,남자,여자,계,남자,여자,계,남자,여자
0,기간,자치구,동,합계,합계,합계,심한 장애,심한 장애,심한 장애,심하지 않은 장애,심하지 않은 장애,심하지 않은 장애
2,2019,합계,합계,"394,843","228,821","166,022","149,906","89,940","59,966","244,937","138,881","106,056"
3,2019,종로구,소계,"6,068","3,515","2,553","2,255","1,360",895,"3,813","2,155","1,658"
4,2019,종로구,사직동,295,169,126,140,80,60,155,89,66
5,2019,종로구,삼청동,112,60,52,42,20,22,70,40,30
...,...,...,...,...,...,...,...,...,...,...,...,...
450,2019,강동구,둔촌1동,3,2,1,1,-,1,2,2,-
451,2019,강동구,둔촌2동,960,568,392,351,217,134,609,351,258
452,2019,강동구,암사1동,"1,688","1,015",673,642,408,234,"1,046",607,439
453,2019,강동구,천호2동,"1,765","1,059",706,629,389,240,"1,136",670,466
454,2019,강동구,길동,"2,002","1,226",776,723,464,259,"1,279",762,517